/* REGOLE GENERALI */
body{
    font-family: 'Inter', sans-serif;
}

/* margini e padding macrosrtuttura */
main section{
    padding-top: 120px;
    padding-bottom: 120px;
}

#ms_main_jumbotron, #ms_second_jumbotron{
    padding-top: 64px;
    padding-bottom: 64px;
}

footer{
    padding-top: 48px;
    padding-bottom: 48px;
}

/* testo e links */
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h2{
    color: rgb(3, 27, 78);
    font-size: 36px;
    line-height: 110%;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

h4{
    color: rgb(3, 27, 78);
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 500;
    margin: 25px 0 10px 0;
}

.ms_small_p{
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
}

.ms_gray_text{
    color: #5b6987;
}

.ms_white_text{
    color: #fff;
}

.ms_darkblue_text{
    color: #020626;
}

.ms_subtitle{
    font-weight: 500;
    line-height: 150%;
    font-size: 22px;
    text-align: center;
    margin-bottom: 70px;
}

.ms_link{
    color: rgb(0, 105, 255);
    text-align: center;
    font-weight: 500;
}

.fa-angle-right{
    padding-left: 5px;
}



/* HEADER */
header{
    background-color: #fff;
    height: 65px;
    line-height: 65px;
}

header a{
    font-size: 15px;
    font-weight: 500;
}

header li{
    display: inline-block;
}


header a:hover{
    color: #006aff;
    text-decoration: none;
}

/* logo */
#ms_logo img{
    max-width: 172px;
    margin-bottom: 8px;
}

/* navbar centrale e destra*/
#ms_central_nav, #ms_right_nav{
    padding: 0;
}

#ms_central_nav li{
    padding-right: 1rem;
}

#ms_right_nav{
    text-align: right;
}

#ms_right_nav li{
    padding-left: 1rem;
}

#ms_sign_up{
    padding: 6px 10px;
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
}

#ms_sign_up:hover{
    color: #fff;
    background-color: #006aff;
}

/* burger menu */
#ms_burger{
    text-align: right;
}

#ms_burger .fa-bars{
    font-size: 20px;
    color: #006aff99;
}




/* JUMBOTRON */
/* MAIN JUMBOTRON */
#ms_main_jumbotron{
    background-image: linear-gradient(0deg, #00000060,  #00000060), url(https://www.digitalocean.com/assets/community/illustrations/DigitalOcean_Community-e00e73a18df20667c3117725e727f3ade330204dff619ad8153050ded7341627.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* colonna dx testo */
#ms_main_jumbotron p{
    font-size: 24px;
    color: lightgray;
}

#ms_main_jumbotron h1{
    font-size: 58px;
    line-height: 120%;
    font-weight: 700;
}

/* colonna sx form */
/* regole generali form */
#ms_main_jumbotron form{
    background-color: #fff;
    border-radius: 5px;
    padding: 24px 14px 16px 14px;
}

/* form titolo */
#ms_main_jumbotron h3{
    text-align: center;
    font-weight: 700;
    line-height: 150%;
    font-size: 28px;
}
#ms_main_jumbotron h3 span{
    color: #006aff;
}

/* input mail e pswd */
#ms_main_jumbotron .form-control{
    padding: 24px;
    border: 1px solid rgb(229, 232, 237);
    border-radius: 3px;
    font-size: 16px;
    color: rgb(3, 27, 78);
}

/* regole comuni button google e create account */
.ms_jumbo_button {
    width: 100%;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

/* create account regole specifiche*/
#ms_main_jumbotron input[type="submit" i]{
    border-color: #4c8bf5;
    border-style: none;
    color: #fff;
    background-color:  #4c8bf5;
}

/* google button regole specifiche */
#ms_main_jumbotron form button{
    position: relative;
    background-color: #fff;
    border-style: none;
    box-shadow: 1px 1px 2px #888888;
}

/* icona google */
button img{
    width: 20px;
    position: absolute;
    left: 10px;
}

/* testo policy form */
#ms_main_jumbotron form p{
    font-size: 12px;
    color: #020626;
    text-align: center;
    font-weight: 400;
}

#ms_main_jumbotron form p > a{
    text-decoration: underline;
}




/* SECOND JUMBOTRON */
#ms_second_jumbotron{
    background-color: rgb(243, 245, 249);
}

#ms_second_jumbotron h5{
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    font-weight: 700;
    color: rgb(91, 105, 135);
}

#ms_second_jumbotron img{
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
}

#ms_second_jumbotron figure{
    line-height: 150px;
    text-align: center;
}

#ms_second_jumbotron .ms_link a:hover{
    color: #006aff;
    text-decoration: none;
}




/* DEPLOY AND SCALE */
/* tolgo 30px ai 120 di default perche devo aggiungere 30px di margin bottom ai blocchi interni */
#ms_deploy_scale{
    padding-bottom: 90px;
}

/* colonna destra - lista */
#ms_deploy_scale ul{
    padding-inline-start: 0;
}

#ms_deploy_scale li a{
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

#ms_deploy_scale li{
    padding: 15px 20px;
    border-left: 2px solid lightgray
}

#ms_deploy_scale .ms_margin_bottom{
    margin-bottom: 30px;
}




/* DESIGN */
#ms_design{
    background-color: rgb(243, 245, 249);
}

#ms_design h2{
    margin-bottom: 30px;
}

#ms_design img{
    width: 100%;
}

/* frecce laterali di selezione */
#ms_design i{
    font-size: 45px;
    padding: 0;
}

#ms_design .row > div:first-child{
    text-align: right;
    color: #02062690;

}

/* testo sotto e pallini di selezione */
#ms_design .container > div:last-child{
    text-align: center;
    padding-top: 18px;
}

/* BS link buttons */
#ms_design .btn-group-lg>.btn, .btn-lg{
    border-radius: 50%;
    padding: 5px;
}





/* FEATURES */
#ms_features .row > div{
    padding-top: 48px;
}

#ms_features .ms_link{
    text-align: left;
}




/* REGIONS */
#ms_regions{
    background: url(https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg) 50% 50% / cover no-repeat rgb(3, 27, 78);
}



/* DEBUG:  */
/* LOVE US */
#ms_love_us{
    background-color: lightgray;
}

#ms_love_us .container > div:first-child{
    height: 100px;
}

#ms_love_us [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}

#ms_love_us .container > div:last-child{
    height: 150px;
}



/* DEBUG:  */
/* GET STARTED */
#ms_get_started{
    height: 250px;
    background-color: blue;
}



/* FOOTER */
footer{
    background-color: darkblue;
}

footer [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}
