/* REGOLE GENERALI */
body{
    font-family: 'Inter', sans-serif;
}

/* margini e padding macrosrtuttura */
main section{
    padding-top: 120px;
    padding-bottom: 120px;
}

#ms_second_jumbotron{
    padding-top: 64px;
    padding-bottom: 64px;
}

footer{
    padding-top: 48px;
    padding-bottom: 48px;
}

/* testo e links */
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


/* HEADER */
header{
    background-color: #fff;
    height: 65px;
    line-height: 65px;
}

header a{
    color: hsl(221,93%,16%);
    font-size: 15px;
    font-weight: 500;
}

header li{
    display: inline-block;
    padding-right: 1rem;
}


header a:hover{
    color: #006aff;
    text-decoration: none;
}

/* logo */
#ms_logo img{
    max-width: 172px;
    margin-bottom: 8px;
}

/* navbar centrale e destra*/
#ms_central_nav, #ms_right_nav{
    padding: 0;
}

#ms_right_nav{
    text-align: right;
}

#ms_sign_up{
    padding: 6px 10px;
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
}

#ms_sign_up:hover{
    color: #fff;
    background-color: #006aff;
}

/* burger menu */
#ms_burger{
    text-align: right;
}

#ms_burger .fa-bars{
    font-size: 20px;
    color: #006aff99;
}



/* DEBUG:  */
/* JUMBOTRON */
#ms_main_jumbotron{
    background-color: blue;
}

#ms_main_jumbotron [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}

#ms_second_jumbotron{
    background-color: lightgray;
}

#ms_second_jumbotron .container > div:first-child{
        height: 100px;
}

#ms_second_jumbotron [class*="col-"]{
    border: 1px solid black;
    height: 150px;
}

#ms_second_jumbotron .container > div:last-child{
        height: 100px;
}


/* DEPLOY AND SCALE */
#ms_deploy_scale .container > div:first-child{
    height: 200px;
}

#ms_deploy_scale [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}



/* DESIGN */
#ms_design{
    background-color: lightgray;
}

#ms_design .container > div:first-child{
    height: 200px;
}

#ms_design [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}

#ms_design .container > div:last-child{
    height: 150px;
}



/* FEATURES */
#ms_features .container > div:first-child{
    height: 100px;
}

#ms_features [class*="col-"]{
    border: 1px solid black;
    height: 200px;
}



/* REGIONS */
#ms_regions{
    background-color: blue;
}

#ms_regions .container > div:first-child{
    height: 100px;
}

#ms_regions [class*="col-"]{
    border: 1px solid black;
    height: 300px;
}



/* LOVE US */
#ms_love_us{
    background-color: lightgray;
}

#ms_love_us .container > div:first-child{
    height: 100px;
}

#ms_love_us [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}

#ms_love_us .container > div:last-child{
    height: 150px;
}



/* GET STARTED */
#ms_get_started{
    height: 250px;
    background-color: blue;
}



/* FOOTER */
footer{
    background-color: darkblue;
}

footer [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}
