/* DEBUG:  */

/* HEADER */
header{
    height: 80px;
}


/* JUMBOTRON */
#ms_main_jumbotron{
    background-color: blue;
}

#ms_main_jumbotron [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}

#ms_second_jumbotron{
    background-color: lightgray;
}

#ms_second_jumbotron .container > div:first-child{
        height: 100px;
}

#ms_second_jumbotron [class*="col-"]{
    border: 1px solid black;
    height: 150px;
}

#ms_second_jumbotron .container > div:last-child{
        height: 100px;
}


/* DEPLOY AND SCALE */
#ms_deploy_scale .container > div:first-child{
    height: 200px;
}

#ms_deploy_scale [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}



/* DESIGN */
#ms_design{
    background-color: lightgray;
}

#ms_design .container > div:first-child{
    height: 200px;
}

#ms_design [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}

#ms_design .container > div:last-child{
    height: 150px;
}



/* FEATURES */
#ms_features .container > div:first-child{
    height: 100px;
}

#ms_features [class*="col-"]{
    border: 1px solid black;
    height: 200px;
}



/* REGIONS */
#ms_regions{
    background-color: blue;
}

#ms_regions .container > div:first-child{
    height: 100px;
}

#ms_regions [class*="col-"]{
    border: 1px solid black;
    height: 300px;
}



/* LOVE US */
#ms_love_us{
    background-color: lightgray;
}

#ms_love_us .container > div:first-child{
    height: 100px;
}

#ms_love_us [class*="col-"]{
    border: 1px solid black;
    height: 400px;
}

#ms_love_us .container > div:last-child{
    height: 150px;
}



/* GET STARTED */
#ms_get_started{
    height: 250px;
    background-color: blue;
}
